*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}

/*NAV BAR */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1{
    font-size: 1.7rem;
    color: #fff;
}

.links{
    background-color: rgb(85, 144, 253);
    padding: 0.2rem;
    border: white solid 1px;
    border-radius: 2rem;
}
.links ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.links li{
    padding: 0.3rem;
}

.links a{
    text-decoration: none;
    color: rgb(250, 246, 246);
    font-weight: 400;
}

.links a:hover{
    color: rgb(4, 8, 48);
    font-weight: 700;
}

.navContent h1{
    margin-top: 12rem;
    color: #fff;
    font-size: 2.5rem;
    padding-right: 4.8rem;
    font-weight: 100;
}

.navContent p{
    margin-top: 1rem;
    color: #fff;
    font-size: 1.1rem;
    padding-right: 9.8rem;
    font-weight: 100;
}

#icon{
    display: none;
    cursor: pointer;
}

/* END OF NAV BAR */
/* RESPONSIVE SIDE BAR*/
.navContainer{
    padding:0 0 3rem 0;
}
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 70vw;
    background-color: #010816d5;
    height: 100vh;
    align-content: flex-start;
    text-align: left;
    box-shadow: 1px 10px 1px rgba(0, 0, 0, 0.89);
    z-index: 999;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    padding-top: 2rem;
    backdrop-filter: blur(10px);
    display: none;
    transform: 1s;
}

.navbar li{
    list-style: none;
    width: 100vw;
    padding-top: 2rem;
}

.navbar a{
    color: #e2e2e9;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0 2rem;
    padding: 0.5rem;
    width: 100vw;
    cursor: pointer;

}

.navbar a:hover{
    background-color: #838080;
    color: #fff;
    border-radius: 0.3rem;
    width: 100vw;
}

.navbar span{
    margin-left: 2rem;
    font-size: 1.5rem;
}

#exitBar{
    cursor: pointer;  
    color: #fff;
}
#menuBtn{
    cursor: pointer;  
}

/* END OF RESPONSIVE SIDE BAR*/

.faqContainer{
    position: relative;
}

.navContainer{
    padding: 4rem 2rem;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(images/mansion4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    /* background-attachment: fixed; */
}

.faqGrids{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid1{
    align-content: center;  
    padding: 3rem;
}
.grid1 h1{
    font-size: 4rem;
}
.grid2 img{
    width: 40vw;
    height: auto;  
}
.grid2 {
    align-content: center;  
    text-align: center;
}

.searchRow{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  #searchIcon{
    cursor: pointer;
  }
.searchBox{
    display: flex;
    background-color: #0000001c;
    padding: 0.6rem;
    border-radius: 2rem;
    width: fit-content;
    margin-bottom: 3rem;
  }
  .searchRow input{
    width: 35vw;
    border: none;
    outline: none;
    background-color: transparent;
    }

.grid1 ul{
    align-items: flex-start;
}
.grid1 li{
    list-style: none;
    padding: 0.5rem 0;
}
.grid1 a{
 text-decoration: none;
 
}

hr{
    margin-top: 1rem;
}

/*FOOTER*/
footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 15vh;
    width: 100vw;
    padding: 2rem;
    position:static;
    bottom: 0;
    align-items: center;

}
.oluwabreezyLogo img{
    height: 10vh;
    width: 10vw;
}

.text{
    display: flex;
    color: white;
    text-align: center;
}
.mediaHandles ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.mediaHandles ul li a img{
    height: 5vh;
    width: 2.8vw;
}

.mediaHandles ul li{
    list-style: none;
}

#copyright{
    margin-right:0.6rem;
  }
  
/* END OF FOOTER*/

/*MEDIA QUERY FOR FAQ PAGE*/
@media (max-width:768px){
    .grid1 h1{
        font-size: 2.1rem;
    }

    .oluwabreezyLogo img{
        height: 8vh;
        width: 8vw;
    }
    
    .text h4{
      font-size: 0.7rem;
    }
}
@media (max-width:550px){
    .faqGrids{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 2rem;
    }
    .grid1{
        order: 2;
    }
    .grid2{
        order: 1;
    }
    .grid2 img{
        width: 70vw;
    }
    .links{
        display: none;
      }
    
      #icon{
        display: block;
        color: #fff;
      }
      /*FOOTER*/
      footer{
        display: block;
        height: fit-content;
        justify-items: center;
        align-content: space-between;
        padding: 2rem;
    }
      .text {
        margin: 1.5rem;
      }
    
      .mediaHandles{
        width: 10rem;
      }
}